<div class="container d-flex justify-content-center" style="margin-top: 200px">
    <div class="card shadow" style="width: 800px;">
        <div class="card-body p-5">
            <div class="mb-4">
                <h1 class="mb-1 fw-bold">Sign in</h1>
            </div>
            <form [formGroup]="form">
                <div class="mb-3">
                    <label for="email" class="form-label fw-bold">Username Or Email</label>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Email address"
                        formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label fw-bold">Password</label>
                    <input type="password" id="password" class="form-control" name="password"
                        placeholder="******" formControlName="password">
                </div>
                <div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" style="width: 300px" class="btn btn-primary fw-bold"
                            [disabled]="!form.valid" (click)="login()">Sign in</button>
                        <button type="submit" style="width: 300px" class="btn btn-primary fw-bold"
                            routerLink="/home">Home</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>